/*general*/
.intro {
    padding: 250px 350px 350px 350px;
    width: 90%;
    text-align:left;
}

h1{
     font-size: 6em;  
     font-weight: bold; 
}

.name {
    color:#FF4033;
}


/*Navigation Items*/
.nav-items{
    transition: all 0.5s ease;
    display:inline-block;
    padding:10px;
    border: solid;
    width: 125px;
    text-align:center;
    border-radius:10px;
    margin:5px;
    border-color:#FF4033;
    color:#FF4033;
}

.sectionNavigation{
    margin-top:30px;
}

.nav-items:hover {
    color: #f1f1f3;
    background-color: #FE8E86;
}