.icons {
    margin: 10px;
}
.icons:hover{
    animation: bounce 1s ease-in-out infinite;
}

@keyframes bounce {
    0%,
    20%,
    60%,
    100%{
        transform: translateY(0);
    }
    40%{
        transform:translateY(-30px);
    }
    80%{
        transform:translateY(-20px);
    }
}