.card {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 220px;
  border-radius: 10px;
  background: white;
  -webkit-box-shadow: 3px 3px 7px rgba (0, 0, 0, 0.3);
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
}
.card p {
  text-align: center;
  font: 100px/220px Georgia, Times New Roman, serif;
}

.suitdiamonds:before,
.suitdiamonds:after {
  content: "♦";
  color: #ff4033;
}

.suithearts:before,
.suithearts:after {
  content: "♥";
  color: #ff4033;
}

.suitspades:before,
.suitspades:after {
  content: "♠";
  color: black;
}
.suitclubs:before,
.suitclubs:after {
  content: "♣";
  color: black;
}

div[class*="suit"]:before {
  position: absolute;
  font-size: 35px;
  left: 5px;
  top: 5px;
}

div[class*="suit"]:after {
  position: absolute;
  font-size: 35px;
  right: 5px;
  bottom: 5px;
}

.hand {
    margin: 50px;
}

.hand:before,.hand:after{
    content: "";
    display:table;
}

.hand:after {
    clear:both;
}

.hand {
    zoom: 1;
}

.card:hover{ 
    cursor:pointer;
}

.spread {
    width: 350px;
    height: 250px;
    position: relative;
}

/* '>' selects child class */
.spread > .card {

}